<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!--[if lt IE 9]>
    <script src="/js/public/html5shiv.min.js"></script>
    <script src="/js/public/respond.min.js"></script>
    <![endif]-->
    <script src="/js/public/jquery.min.js"></script>
    <script src="/js/public/bootstrap.min.js"></script>
    <script src="/js/public/bootstrap-select.min.js"></script>
    <script src="/js/public/defaults-zh_CN.js"></script>
    <script th:src="@{//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.js}"></script>
</head>

</html>