<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lhyf.config.mapper.AppMapper">
  <resultMap id="BaseResultMap" type="org.lhyf.config.pojo.App">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="app_code" jdbcType="VARCHAR" property="appCode" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
</mapper>